{% extends '@management/layout.html.twig' %}


{% block content %}
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <div href="/"
                 class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis">
                <span class="fs-4">List of payments</span>
            </div>
        </div>
    </header>

    <div class="py-3 mb-4 border-bottom container d-flex flex-wrap justify-content-center">
        <form action="{{ path('management_payments') }}" method="get" class="container">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="searchValue" placeholder="Search"
                       value="{{ searchValue }}"/>
                <button class="btn btn-outline-secondary" type="submit">Search</button>
                <input type="hidden" name="orderBy" value="{{ order }}">
                <input type="hidden" name="page" value="1">
                {% for field in config.searchFields %}
                    <input type="hidden" name="searchFields[]" value="{{ field }}">
                {% endfor %}
            </div>
        </form>

        <div class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>
                        <a class="text-decoration-none"
                           href="{{ path('management_payments', {'page': page,'orderBy': orderBy('createdAt', 'desc', current.order.field, current.order.direction), 'searchValue': searchValue, 'searchFields': searchFields}) }}">Created at</a>
                    </th>
                    <th>Amount</th>
                    <th>Commission</th>
                    <th>Status</th>
                    <th>Gateway</th>
                    <th>Store</th>
                    <th>Currency</th>
                    <th>QR code</th>
                </tr>
                </thead>
                <tbody>
                {% set id = 1 %}
                {% for item in items.aggregate %}
                    <tr>
                        <td>
                            <a href="{{ path('management_payment', {'id': item.id}) }}">{{ id }}</a>
                        </td>
                        <td>{{ item.createdAt | date('d.m.Y H:i') }}</td>
                        <td>{{ item.amount | number_format(2, '.', ',') }}</td>
                        <td>{{ item.commission | number_format(2, '.', ',') }}</td>
                        <td><span class="badge rounded-pill bg-primary">{{ item.status.status }}</span></td>
                        <td>{{ item.gateway.title }}</td>
                        <td>{{ item.store.title }}</td>
                        <td>{{ item.currency }}</td>
                        <td>
                            {% if item.qr is not null %}
                                <span class="badge text-bg-success">Created</span>
                            {% else %}
                                <span class="badge text-bg-dark">Not presents</span>
                            {% endif %}
                        </td>
                    </tr>

                    {% set id = id + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container d-flex flex-wrap justify-content-end">
            <nav>
                {% if items.pages > 1 %}
                    <ul class="pagination">
                        {% for i in 1..items.pages %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ path('management_payments', {'page': i,'orderBy': order, 'searchValue': searchValue, 'searchFields': searchFields}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </nav>
        </div>
    </div>
{% endblock %}
