<table class="table table-striped">
    <tr>
        <td>{{ 'payment.attribute.amount' | trans }}</td>
        <td>{{ payment.amount | number_format(2, '.', ',') }} {{ payment.currency }}</td>
        <td rowspan="8" class="align-middle">
            <div class="card text-center">
                <div class="card-body">
                    {% if payment.qr is not null %}
                        <p class="card-text">
                            <img style="width: 200px; height: 200px;" src="{{ payment.qr.image }}">
                        </p>
                    {% else %}
                        <p class="card-text">
                            <img style="width: 200px; height: 200px;"
                                 src="{{ asset('build/images/qr-not-found.svg') }}">
                        </p>
                    {% endif %}
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>{{ 'payment.attribute.commission' | trans }}</td>
        <td>{{ payment.commission | number_format(2, '.', ',') }} {{ payment.currency }}</td>
    </tr>
    <tr>
        <td>{{ 'payment.attribute.status' | trans }}</td>
        <td>{{ paymentStatus(payment) | raw }}</td>
    </tr>
    <tr>
        <td>{{ 'payment.attribute.qr.title' | trans }}</td>
        <td>
            {% if payment.qr is not null %}
                <span class="badge text-bg-success">{{ 'payment.attribute.qr.status.registered' | trans }}</span>
            {% else %}
                <span class="badge text-bg-dark">{{ 'payment.attribute.qr.status.absents' | trans }}</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{ 'payment.attribute.callback' | trans }}</td>
        <td>
            <a class="link-opacity-100 text-decoration-none"
               href="{{ payment.callback }}">{{ payment.callback }}</a>
        </td>
    </tr>
    <tr>
        <td>{{ 'payment.attribute.gateway' | trans }}</td>
        <td>
            <a class="link-opacity-100 text-decoration-none"
               href="{{ path('management_gateways', {'searchValue' : payment.gateway.title, 'searchFields[]' : 'title'}) }}">
                {{ payment.gateway.title }}
            </a>
        </td>
    </tr>
    <tr>
        <td>{{ 'payment.attribute.store' | trans }}</td>
        <td>
            <a class="link-opacity-100 text-decoration-none"
               href="{{ path('management_stores', {'searchValue' : payment.store.title, 'searchFields[]' : 'title'}) }}">
                {{ payment.store.title }}
            </a>
        </td>
    </tr>
    <tr>
        <td>{{ 'payment.attribute.token.name' | trans }}</td>
        <td>
            {% if payment.token is not null %}
                <span class="badge text-bg-warning">{{ payment.token }}</span>
            {% else %}
                <span class="badge text-bg-dark">{{ 'payment.attribute.token.absents' | trans }}</span>
            {% endif %}
        </td>
    </tr>
</table>
